<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/joinForm.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="text-center" style="padding-top: 86px; padding-bottom: 43px">
        <h1 class="title">BBR</h1>
        <p>BBR에 오신 것을 환영합니다.</p>
    </div>

    <!-- <h4 class="mb-3">회원 정보 입력</h4> -->

    <form th:action th:object="${memberSaveRequestDto}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="name" class="label">이름</label>
            <sup class="essential">필수</sup>
            <input type="text" id="name" th:field="*{name}" class="form-control" th:errorclass="field-error" placeholder="ex. 홍길동">
            <div class="field-error" th:errors="*{name}" />
        </div>
        <div>
            <label for="phone" class="label">전화번호</label>
            <sup class="essential">필수</sup>
            <input type="text" id="phone" th:field="*{phone}" class="form-control" th:errorclass="field-error" placeholder="ex. 01012341234">
            <div class="field-error" th:errors="*{phone}" />
        </div>
        <div>
            <label for="birth" class="label">생년월일</label>
            <input type="text" id="birth" th:field="*{birth}" class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{birth}" />
        </div>
        <div>
            <!-- &lt;!&ndash; TODO 이메일 홀딩 & 인증번호 불일치 & 인증번호 재발송 & 인증번호 타임아웃 &ndash;&gt; -->
            <label for="email" class="label">이메일</label>
            <sup class="essential">필수</sup>
            <div class="email_box">
                <input type="text" id="email" th:field="*{email}" class="form-control email" th:errorclass="field-error">
                <div class="field-error" th:errors="*{email}" />
                <span>@email.daelim.ac.kr</span>
                <button type="button" id="sendMail">인증메일발송</button>
            </div>

            <div class="field-error"  />
            <input type="text" id="code" th:field="*{code}" class="form-control auth" th:errorclass="field-error">
            <button type="button" id="verifyCode">본인인증</button>
            <input type="hidden" id="emailAuthYn" th:field="*{emailAuthYn}">
        </div>
        <div>
            <label for="username" class="label">아이디</label>
            <sup class="essential">필수</sup>
            <input type="text" id="username" th:field="*{username}" class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{username}" />
        </div>
        <div>
            <label for="password" class="label">비밀번호</label>
            <sup class="essential">필수</sup>
            <input type="password" id="password" th:field="*{password}" class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>
        <div class="form-control_div">
            <span>학과</span>
            <!--TODO CSS 입혀야 됨-->
            <div class="select_box" style="display: flex;align-items: center; margin-bottom: 20px;">
                <select class="select select_one form-select">
                    <option value="0">선택하여 검색</option>
                    <option value="1">공학계열</option>
                    <option value="2">인문사회계열</option>
                    <option value="3">자연과학계열</option>
                    <option value="4">예체능</option>
                </select>
                <span class="major_arrow">></span>
                <select class="select select_two form-select" th:field="*{department}">
                    <option value="">-------</option>
                </select>
            </div>
        </div>
        <!-- 모두 동의 버튼 추가? -->
        <!-- TODO 체크박스 유효성 검사 추가 -->
        <div>
            <div class="form-check">
                <input type="checkbox" id="personalInfoTermYn" th:field="*{personalInfoTermYn}" class="form-check-input" >
                <label class="form-check-label" for="personalInfoTermYn">[필수] <span> &nbsp;개인정보 수집 및 이용</span>에 동의합니다.</label>
            </div>
            <div class="form-check">
                <input type="checkbox" id="serviceTermYn" th:field="*{serviceTermYn}" class="form-check-input" >
                <label class="form-check-label" for="serviceTermYn">[필수] <span> &nbsp;서비스 이용약관</span>에 동의합니다.</label>
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg join" type="submit">회원가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg cancel" onclick="location.href='index.html'"
                        th:onclick="|location.href='@{/login}'|" type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->

<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script th:inline="javascript">
    // 메일발송
    $(document).ready(function () {
        $("#sendMail").click(function () {
            $.ajax({
                method: "POST",
                url: "/members/sendMail",
                data: {email: $("#email").val()},
                success: (function(msg) {
                    console.log(msg)
                    if (msg=='fail')
                        alert("메일 발송에 실패하였습니다.");
                    else if ($("#email").val()!=null)
                        alert(msg+"로 메일이 발송 되었습니다.");
                    else
                        alert("잠시 후 다시 시도해주세요.");
                })
            })
        });
    });

    // 본인인증
    $(document).ready(function () {
        $("#verifyCode").click(function () {
            $.ajax({
                method: "POST",
                url: "/members/verifyCode",
                data: {code: $("#code").val()},
                success: (function(msg) {
                    console.log(msg)
                    if (msg=='fail') {
                        alert("인증 실패");
                    } else if (msg=='success') {
                        alert("인증 성공");
                        $("#emailAuthYn").val(msg);
                    } else {
                        alert("잠시 후 다시 시도해주세요.");
                    }
                })
            })
        });
    });

    window.addEventListener('load', function() {
        var allElements = document.getElementsByTagName('*');
        Array.prototype.forEach.call(allElements, function(el) {
            var includePath = el.dataset.includePath;
            if (includePath) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        el.outerHTML = this.responseText;
                    }
                };
                xhttp.open('GET', includePath, true);
                xhttp.send();
            }
        });
        const Engineering = ['건축학부', '기계과', '컴퓨터소프트웨어','실내디자인','전기과','미래자동차과'];
        const Humanities = ['경영과', '사무행정과', '유아교육과','항공서비스과','호텔관광과'];
        const Department = ['언어치료과', '호텔조리전공', '제과제빵커피전공'];

        $(".select_one").on('change',function (){
            if ($(".select_one option:selected").val() == 0) {
                $(".select_two option").remove();
                $(".select_two").append('<option value="">-------</option>')
            }else if($(".select_one option:selected").val() == 1){ //공학
                $(".select_two option").remove();
                $(".select_two").append('<option value="">-------</option>')
                for (let i = 0; i < Engineering.length; i++) {

                    $(".select_two").append("<option value='"+Engineering[i]+"'>"+Engineering[i]+"</option>")
                }
            }else if($(".select_one option:selected").val() == 2){ //인문사회계열
                $(".select_two option").remove();
                $(".select_two").append('<option value="">-------</option>')
                for (let i = 0; i < Humanities.length; i++) {

                    $(".select_two").append("<option value='"+Humanities[i]+"'>"+Humanities[i]+"</option>")
                }
            }else if($(".select_one option:selected").val() == 3){ //자연과학계열
                $(".select_two option").remove();
                $(".select_two").append('<option value="">-------</option>')
                for (let i = 0; i < Department.length; i++) {

                    $(".select_two").append("<option value='"+Department[i]+"'>"+Department[i]+"</option>")
                }
            }else if($(".select_one option:selected").val() == 4){ //예체능
                $(".select_two option").remove();
                $(".select_two").append('<option value="스포츠지도과">스포츠지도과</option>')
            }
        })
    });
</script>
</body>
</html>