<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: header"/>
<body>
<div class="container">
    <!--header-->
    <div th:replace="admin/fragments/bodyHeader :: bodyHeader"/>
<!--        <div>-->
<!--            <form th:object="${orderSearch}" class="form-inline">-->
<!--                <div class="form-group mb-2">-->
<!--                    <input type="text" th:field="*{memberName}" class="form- control" placeholder="회원명"/>-->
<!--                </div>-->
<!--                <div class="form-group mx-sm-1 mb-2">-->
<!--                    <select th:field="*{orderStatus}" class="form-control"> <option value="">주문상태</option>-->
<!--                        <option th:each="status : ${T(jpabook.jpashop.domain.OrderStatus).values()}"-->
<!--                                th:value="${status}"-->
<!--                                th:text="${status}">option-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary mb-2">검색</button>-->
<!--            </form>-->
<!--        </div>-->
    <div class="wrap">
        <div class="home">
            <!-- contents -->
            <div class="contents">
                <div class="container">
                    <div class="content">
                        <h2 class="end_title"> 책 구매 내역 </h2>
                        <table class="styled-table">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>저자</th>
                                <th>수량</th>
                                <th>주문 가격</th>
                                <th>주문 날짜</th>
                                <th>주문 상태</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order : ${list}">
                                <td th:text="${order.id}">1</td>
                                <td th:text="${order.title}">비전공자를 위한 이해할 수 있는 IT 지식</td>
                                <td th:text="${order.author}">최원영</td>
                                <td th:text="${{order.count}}">1</td>
                                <td th:text="${{order.price}}">15,120원</td>
                                <td th:text="${{order.buyDatetime}}">2021.10.08</td>
                                <td th:text="${order.status}">ORDER</td>
                                <td>
                                    <a th:if="${order.status.name() == 'ORDER'}" href="#"
                                       th:href="'javascript:comp('+${order.id}+')'"
                                       class="btn btn-primary">COMP</a>
                                </td>
                                <td>
                                    <a th:if="${order.status.name() == 'ORDER'}" href="#"
                                       th:href="'javascript:cancel('+${order.id}+')'"
                                       class="btn btn-danger">CANCEL</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <div th:replace="fragment/footer :: copy"></div>
        </div>
    </div>
</div> <!-- /container -->
</body>
<script>
    function comp(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/admin/orders/" + id + "/comp");
        document.body.appendChild(form);
        form.submit();
    }
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/admin/orders/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>