<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/index.css}"
          href="../css/index.css" rel="stylesheet">
    <link th:href="@{/css/search.css}"
          href="../css/search.css" rel="stylesheet">
    <link th:href="@{/css/header.css}"
          href="../css/header.css" rel="stylesheet">
    <link th:href="@{/css/book_add.css}"
          href="../css/book_add.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<div class="wrap">
    <div class="">
        <!-- left menu -->
        <div th:insert="~{fragment/header :: copy}"></div>
        <!-- contents -->
        <div class="contents">
            <div>
                <div class="add_sh">
                    <div >
                        <span class="add_form_p">자세한 책 정보를 적어주세요.</span>
                    </div>
                    <form action="" th:action method="post" th:object="${bookFileSaveRequestDto}" enctype="multipart/form-data">
                        <div class="add_form_div">
                            <div class="none_img">
                                <span>사진등록</span>
                                <input type="file" th:field="*{attachFile}" title="책사진을 넣어주세요">
                            </div>
                            <div class="form-control_div">
                                <span>책이름</span>
                                <input class="form-control" type="text" th:field="*{title}" placeholder="책이름" title="책이름" required>
                            </div>
                            <div class="form-control_div">
                                <span>저자</span>
                                <input class="form-control" type="text" th:field="*{author}" placeholder="저자" title="저자" required>
                            </div>
                            <div class="form-control_div">
                                <span>출판사</span>
                                <input class="form-control" type="text" th:field="*{publisher}"placeholder="출판사" title="출판사" required>
                            </div>
                            <div class="form-control_div">
                                <span>출판일</span>
                                <input class="form-control" type="text" th:field="*{datetime}" placeholder="출판일" title="출판일" required>
                            </div>
                            <div class="form-control_div">
                                <span>가격</span>
                                <input class="form-control last" type="text" th:field="*{price}" placeholder="가격" title="가격" required>
                            </div>
                            <input type="hidden" th:field="*{isbn}" placeholder="ISBN" title="ISBN">
                        </div>

                        <!--TODO CSS 입혀야 됨-->

                        <div class="form-control_div">
                            <span>학과선택</span>
                            <div class="select_box">
                                <select class="select select_one form-select" required>
                                    <option value="0">선택하여 검색</option>
                                    <option value="1">공학계열</option>
                                    <option value="2">인문사회계열</option>
                                    <option value="3">자연과학계열</option>
                                    <option value="4">예체능</option>
                                    <option value="5">교양과목</option>
                                </select>
                                <span class="major_arrow"><i class="bi bi-caret-right-fill"style="font-size: 20px"></i></span>
                                <select class="select select_two form-select" th:field="*{department}" required>
                                    <option value="">-------</option>
                                </select>
                            </div>
                        </div>
                        <div class="as1">
                            <span class="as_span">어떤 수업에서 사용한 책인가요?</span>
                            <input class="aad_tw_ect1 form-control ect1" type="text" th:field="*{clazz}" placeholder="없으면 다음을 눌러주세요">
                            <a class="btn btn-primary as1" onclick="next1()" role="button">다음</a>
                        </div>
                        <div class="as2 ">
                            <span class="as_span">필기의 상태(책의 상태) 어떤한가요?</span>
                            <input class="aad_tw_ect1 form-control" type="text" th:field="*{state}" placeholder="없으면 다음을 눌러주세요">
                            <a class="btn btn-primary as2" onclick="remove1()" role="button">이전</a>
                            <a class="btn btn-primary as2" onclick="next2()"  role="button">다음</a>
                        </div>
                        <div class="as3 ">
                            <span class="as_span">기타</span>
                            <input class="aad_tw_ect1 form-control" type="text" th:field="*{etc}" placeholder="없으면 등록을 눌러주세요!">
                            <a class="btn btn-primary mb-2 as3" onclick="remove2()" role="button">이전</a>
                            <button type="submit" class="btn btn-primary mb-3 as3">판매 등록하기</button>
                        </div>


                    </form>

                </div>
            </div>


        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script th:inline="javascript">
    sch = location.search

    const queryParam = new URLSearchParams(sch);
    const title = queryParam.get('t');

    if (title != null)
        searchParam(title); //실행

    function searchParam(key) {

        console.log(key);
        $.ajax({
            type: "GET",
            url: "https://dapi.kakao.com/v3/search/book?target=title",
            data: {query: key},
            headers: {Authorization: "KakaoAK c7e609c9ebe6c1d5acfa01b6a031db96"},
            success : function (msg){
                let data = msg.documents[0];
                let isbn = data.isbn;
                if (isbn.search(/\s/) != -1) {
                    const arr = isbn.split(" ");
                    isbn = arr[1];
                }
                $("#title").val(data.title);
                $("#author").val(data.authors);
                $("#publisher").val(data.publisher);
                $("#datetime").val(data.datetime.toString().substring(0,10));
                $("#price").val(data.price);
                $("#thumbnail-img").append("<img class=\"img_width \" src='" + data.thumbnail + "'/><br>");
                $("#thumbnail").val(data.thumbnail);
                $("#isbn").val(isbn);
            }
        });
    }
    function next1(){
        $(".as1").hide();
        $(".as2").show();
    }
    function next2(){
        $(".as2").hide();
        $(".as3").show();
    }
    function remove1(){
        $(".as2").hide();
        $(".as1").show();
    }
    function remove2(){
        $(".as3").hide();
        $(".as2").show();
    }

    window.addEventListener('load', function() {
        var allElements = document.getElementsByTagName('*');
        Array.prototype.forEach.call(allElements, function(el) {
            var includePath = el.dataset.includePath;
            if (includePath) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        el.outerHTML = this.responseText;
                    }
                };
                xhttp.open('GET', includePath, true);
                xhttp.send();
            }
        });
        const Engineering = ['건축학부', '기계과', '컴퓨터소프트웨어','실내디자인','전기과','미래자동차과'];
        const Humanities = ['경영과', '사무행정과', '유아교육과','항공서비스과','호텔관광과'];
        const Department = ['언어치료과', '호텔조리전공', '제과제빵커피전공'];

        $(".select_one").on('change',function (){
            if ($(".select_one option:selected").val() == 0) {
                $(".select_two option").remove();
                $(".select_two").append('<option value="">-------</option>')
            }else if($(".select_one option:selected").val() == 1){ //공학
                $(".select_two option").remove();
                $(".select_two").append('<option value="">-------</option>')
                for (let i = 0; i < Engineering.length; i++) {

                    $(".select_two").append("<option value='"+Engineering[i]+"'>"+Engineering[i]+"</option>")
                }
            }else if($(".select_one option:selected").val() == 2){ //인문사회계열
                $(".select_two option").remove();
                $(".select_two").append('<option value="">-------</option>')
                for (let i = 0; i < Humanities.length; i++) {

                    $(".select_two").append("<option value='"+Humanities[i]+"'>"+Humanities[i]+"</option>")
                }
            }else if($(".select_one option:selected").val() == 3){ //자연과학계열
                $(".select_two option").remove();
                $(".select_two").append('<option value="">-------</option>')
                for (let i = 0; i < Department.length; i++) {

                    $(".select_two").append("<option value='"+Department[i]+"'>"+Department[i]+"</option>")
                }
            }else if($(".select_one option:selected").val() == 4){ //예체능
                $(".select_two option").remove();
                $(".select_two").append('<option value="스포츠지도과">스포츠지도과</option>')
            }else if($(".select_one option:selected").val() == 5){ //교양
                $(".select_two option").remove();
                $(".select_two").append('<option value="교양과목">교양과목</option>')
            }
        })
    });
</script>
</body>
</html>