<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/index.css}"
          href="../css/index.css" rel="stylesheet">
    <link th:href="@{/css/search.css}"
          href="../css/search.css" rel="stylesheet">
    <link th:href="@{/css/header.css}"
          href="../css/header.css" rel="stylesheet">
    <link th:href="@{/css/book_add.css}"
          href="../css/book_add.css" rel="stylesheet">
</head>
<body>
<div class="wrap">
    <div class="home">
        <!-- left menu -->
        <header class="header side_bar">
            <h1 class="logo">
                <a href="/" class="link_logo router-link-active">
                    <span class="blind">프로젝트 제목</span>
                </a>
            </h1>
            <a href="#" role="button" aria-expanded="false" class="btn_search">
                <span class="blind">검색</span>
            </a>
            <div class="search_area">
              <span class="input_area">
                <input type="search" role="combobox" id="search_keyword" aria-expanded="false" aria-haspopup="listbox" title="검색창" placeholder="VIBE 검색" autocomplete="off" class="input_search">
              </span>
                <a href="#" role="button" class="btn_close_search">
                    <span class="blind">검색 닫기</span>
                </a>
            </div>
            <div class="my_menu">
                <div class="profile_area">
                    <a href="#" class="link_login">
                        <span class="text">로그인</span>
                    </a>
                </div>
                <div class="ly_menu">
                    <div class="menu_area">
                        <ul role="menu" class="menu_list">
                            <li role="presentation" class="menu_item">
                                <a href="../../../../../../../Desktop/메인%20페이지/메인%20페이지/index.html" role="menuitem" class="link_menu link_today">
                                    <span class="text"> 오늘의 책 </span>
                                </a>
                            </li>
                            <li role="presentation" class="menu_item">
                                <a href="#" role="menuitem" class="link_menu link_chart ">
                                    <span class="text"> 학과 </span>
                                </a>
                            </li>
                            <li role="presentation" class="menu_item">
                                <a href="#" role="menuitem" class="link_menu link_newalbum">
                                    <span class="text"> 전공 </span>
                                </a>
                            </li>
                            <li role="presentation" class="menu_item">
                                <a href="#" role="menuitem" class="link_menu link_dj">
                                    <span class="text"> 교양 </span>
                                </a>
                            </li>
                            <li role="presentation" class="menu_item">
                                <a href="#" role="menuitem" class="link_menu link_mag">
                                    <span class="text"> VIBE MAG </span>
                                </a>
                            </li>
                            <li role="presentation" class="menu_item">
                                <a href="#" role="menuitem" class="link_menu link_monthly">
                                    <span class="text"> 이달의 노래 </span>
                                </a>
                            </li>
                        </ul>
                        <div role="menu" class="extra_menu">
                            <a href="/wheresmymoney/" target="_blank" rel="noopener noreferrer" class="link_extra link_text">#내돈내듣</a>
                            <a href="#" class="link_extra link_text">온스테이지</a>
                            <a href="/about" class="link_extra link_text" target="_blank" rel="noopener noreferrer"> 서비스 소개 </a>
                            <a href="/membership/vibe" class="link_extra link_text" role="menuitem"> 멤버십 구독 </a>
                            <a href="/vibereview" class="link_extra link_text" role="menuitem"> VIBE 사용자 리뷰 </a>
                            <a to="/comingsoonvibe" role="menuitem" class="link_extra link_text comingsoonvibe"> 커밍쑨VIBE </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- contents -->
        <div class="contents">
            <div>
                <div class="add_sh">
                    <div >
                        <span class="add_form_p">자세한 책 정보를 적어주세요.</span>
                    </div>
                    <form action="">
                        <div class="add_form_div" th:action method="post" th:object="${bookSaveRequestDto}">
                            <div id="thumbnail-img"></div>
                            <div><input type="hidden" th:field="*{thumbnail}" ></div>
                            <div><input type="text" th:field="*{title}" placeholder="책이름" title="책이름"></div>
                            <div><input type="text" th:field="*{author}" placeholder="저자" title="저자"></div>
                            <div><input type="text" th:field="*{publisher}"placeholder="출판사" title="출판사"></div>
                            <div><input type="text" th:field="*{datetime}"placeholder="출판일" title="출판일"></div>
                            <div><input type="text" th:field="*{price}"placeholder="가격" title="가격"></div>

                        </div>


                    </form>

                </div>
            </div>

            <div class="add_tw">
                <div class="as1">
                    <span>어떤 수업에서 사용한 책인가요?</span>
                    <input class="aad_tw_ect1" type="text" placeholder="가격" title="가격">
                </div>
                <div class="as2 ">
                    <span>필기의 상태(책의 상태) 어떤한가요?</span>
                    <input class="aad_tw_ect1" type="text" placeholder="가격" title="가격">
                </div>
                <div class="as3 ">
                    <span>기타</span>
                    <input class="aad_tw_ect1" type="text" placeholder="가격" title="가격">
                </div>

                <div class="add_tw_button">
                    <button onclick="aada()">next</button>
                    <input type="submit"/>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    sch = location.search

    const title = new URLSearchParams(sch);
    const title2 = title.get('title');
    //const title3 = title2.toString();
    console.log(title2);
    console.log("위에");
    searchParam(title2); //실행

    function aada(){


        $("div").removeClass('.add_tw');
        console.log("입력!");
    }
    function searchParam(key) {

        console.log(key);
        $.ajax({
            type: "GET",
            url: "https://dapi.kakao.com/v3/search/book?target=title",
            data: {query: key},
            headers: {Authorization: "KakaoAK c7e609c9ebe6c1d5acfa01b6a031db96"},
            success : function (msg){
                console.log(msg);
                let data = msg.documents[0];
                $("#title").val(data.title);
                $("#author").val(data.authors);
                $("#publisher").val(data.publisher);
                $("#datetime").val(data.datetime.toString().substring(0,10));
                $("#price").val(data.price);
                $("#thumbnail-img").append("<img src='" + data.thumbnail + "'/><br>");
                $("#thumbnail").val(data.thumbnail);
            }
        });
    }

</script>
</body>
</html>