<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 검색 사이트</title>
    <link th:href="@{/css/search.css}" href="./css/search.css" rel="stylesheet">
    <link th:href="@{/css/header.css}" href="./css/header.css" rel="stylesheet">
    <link th:href="@{/css/footer.css}" href="./css/footer.css" rel="stylesheet">
</head>
<body>
<div class="wrap">
    <div class="home">
        <!-- left menu -->
        <div th:insert="~{fragment/header :: copy}"></div>
        <!-- contents -->
        <div class="contents">
            <div class="container_search">
                <div class="container_search_back">
                    <div class="search_nav">
                        <div class="search1">
                            <span class="search_box">
                                <input type="text" id="query" class="search_input" placeholder="책 제목으로 검색하기">
                                <button id="search" class="search_btn">검색</button>
                            </span>
                        </div>
                        <div class="search2">
                          <span class="search_name">
                              책이름으로 검색해 주세요.<br>
                              검색 결과가 없을 경우 직접 입력해주세요.
                          </span>
                        </div>
                    </div>
                </div>
                <div class="box">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div th:replace="fragment/footer :: copy"></div>

<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        var pageNum = 1;

        $("#search").click(function () {
            $(".box").html("");

            $.ajax({
                method: "GET",
                url: "https://dapi.kakao.com/v3/search/book?target=title",
                data: { query: $("#query").val(), page: pageNum},
                headers: {Authorization: "KakaoAK c7e609c9ebe6c1d5acfa01b6a031db96"}

            })
                .done(function (msg) {
                    console.log(msg);
                    for (var i = 0; i < 10; i++){
                        let isbn = msg.documents[i].isbn;
                        if (isbn.search(/\s/) != -1) {
                            const arr = isbn.split(" ");
                            isbn = arr[1];
                        }
                        let path = 'http://localhost:8080/books/add?t='+ isbn;
                        if(msg.documents[i].thumbnail === '') {
                            path = 'http://localhost:8080/books/add_file?t='+ isbn;
                        }
                        $(".box").append(" <div class=\"search_list\">\n" +
                            "            <div>\n" +
                            "                <img src='" + msg.documents[i].thumbnail + "'/>" +
                            "            </div>\n" +
                            "            <div class=\"search_center\">\n" +
                            "                <p class=\"search_p\">" + msg.documents[i].title + "</p>\n" +
                            "                <P>\n" +
                            "                    <span>"+ msg.documents[i].authors + " | </span>\n" +
                            "                    <span>" + msg.documents[i].publisher + " | </span>\n" +
                            "                    <span>" + msg.documents[i].datetime.toString().substring(0,10) + "</span>\n" +
                            "                </P>\n" +
                            "                <p>\n" +
                            "                    <span>정가 : "+msg.documents[i].price +"</span>\n" +
                            "                </p>\n" +
                            "            </div>\n" +
                            "            <div>\n" +
                            "               <button class=\"search_nextbtn\" onclick=\"location.href='"+path+"' \"> 책 판매</button>\n" +
                            "            </div>\n" +
                            "        </div>")
                    }
                });
        })

        $(window).scroll(function(){

            if ( Math.ceil($(window).scrollTop()) + $(window).height() >= $(document).height() ){
                pageNum++;


                $.ajax({
                    method: "GET",
                    url: "https://dapi.kakao.com/v3/search/book?target=title",
                    data: { query: $("#query").val(),  page: pageNum},
                    headers: {Authorization: "KakaoAK c7e609c9ebe6c1d5acfa01b6a031db96"}

                })
                    .done(function (msg) {
                        console.log(msg);
                        for (var i = 0; i < 10; i++){
                            let isbn = msg.documents[i].isbn;
                            if (isbn.search(/\s/) != -1) {
                                const arr = isbn.split(" ");
                                isbn = arr[1];
                            }
                            let path = 'http://localhost:8080/books/add?t='+ isbn;
                            if(msg.documents[i].thumbnail === '') {
                                path = 'http://localhost:8080/books/add_file?t='+ isbn;
                            }
                            $(".box").append(" <div class=\"search_list\">\n" +
                                "            <div>\n" +
                                "                <img src='" + msg.documents[i].thumbnail + "'/>" +
                                "            </div>\n" +
                                "            <div class=\"search_center\">\n" +
                                "                <p class=\"search_p\">" + msg.documents[i].title + "</p>\n" +
                                "                <P>\n" +
                                "                    <span>"+ msg.documents[i].authors + "</span>\n" +
                                "                    <span>" + msg.documents[i].publisher + "</span>\n" +
                                "                    <span>" + msg.documents[i].datetime.toString().substring(0,10) + "</span>\n" +
                                "                </P>\n" +
                                "                <p>\n" +
                                "                     <span>정가 : "+msg.documents[i].price +"</span>\n" +
                                "                </p>\n" +
                                "            </div>\n" +
                                "            <div>\n" +
                                "               <button class=\"search_nextbtn\" onclick=\"location.href='"+path+"' \"> 책 판매</button>\n" +
                                "            </div>\n" +
                                "        </div>")
                        }
                    });
            }
        });
    })
</script>
</body>

</html>