<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세 페이지</title>
  <link href="./css/book_info.css" th:href="@{/css/book_info.css}" rel="stylesheet">
  <link href="./css/header.css" th:href="@{/css/header.css}" rel="stylesheet">
  <link href="./css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<div class="wrap">
  <div class="home">
    <!-- left menu -->
    <div th:insert="~{fragment/header :: copy}"></div>
    <!-- contents -->
    <div class="contents">
      <div class="wrap_detail_info inner">
        <!-- image -->
        <div class="box_image">
          <div class="slide_detail_img">
            <ul class="img217" style="visibility:visible">
              <li th:unless="${book.attachFile==null || book.attachFile.storeFileName==''}">
                <img th:src="@{/images/{fileName}(fileName=${book.attachFile.storeFileName})}" style="width: 217px!important; max-height: 315px" alt="책">
              </li>
              <li th:unless="${book.thumbnail==null || book.thumbnail==''}">
                <img th:src="${book.thumbnail}" alt="책">
              </li>
            </ul>
          </div>
          <!-- rank txt -->
          <div>
            <!--  -->
            <strong class="bestseller_score"><span th:text="${{book.views}}">4</span>회 조회된 책</strong>
          </div>
        </div>
        <!-- right section -->
        <div class="box_detail_info">
          <!-- title-->
          <h3 th:text="${book.title}">2022 선재국어 강의노트 문법·어휘 편 (스프링)</h3>
          <!--          <span class="title_sub">-->
          <!--              <span class="book_subtitle"> 전공 - 컴퓨터정보학부</span>-->
          <!--              <span class="book_grp_name">웹프로그래밍실무실습  </span>-->
          <!--          </span>-->
          <!-- book info -->
          <div class="info_book">
            <div class="info_more">
              <a href="javascript:authFind('이선재');"><span th:text="${book.author}">이선재</span> 지음</a>
            </div>
            <div class="info_more">
              <a href="javascript:publisherFind('에스티유니타스');"><span th:text="${book.publisher}">에스티유니타스</span> 펴냄</a>
            </div>
            <em>출간일: <span th:text="${book.datetime}">2021-09-17</span></em>
          </div>
          <!-- department -->
          <div class="book_slipt_apply common_box">
            <strong class="left_box">
              학과
            </strong>
            <div class="right_box" th:each="registration : ${book.registrations}">
              <span th:unless="${registration.department==null || registration.department==''}"
                    th:text="${registration.department}" class="text text_black">
                학과 관련 내용
              </span>
            </div>
          </div>
          <!-- clazz -->
          <div class="book_slipt_apply common_box">
            <strong class="left_box">
              수업
            </strong>
            <div class="right_box" th:each="registration : ${book.registrations}">
              <span th:unless="${registration.clazz==null || registration.clazz==''}"
                    th:text="${registration.clazz}" class="text text_black">
                수업 관련 내용
              </span>
            </div>
          </div>
          <!-- book condition -->
          <div class="book_slipt_apply common_box">
            <strong class="left_box">
              책 상태
            </strong>
            <div class="right_box" th:each="registration : ${book.registrations}">
            <span th:unless="${registration.state==null || registration.state==''}"
                  th:text="${registration.state}" class="text text_black">
              책 상태 관련 내용
            </span>
            </div>
          </div>
          <!-- book count -->
          <div class="buy_number common_box">
            <form th:action="@{/members/order/{bookId}(bookId=${book.id})}" method="post">
              <strong class="left_box">구매수량</strong>
              <div class="right_box">
                <div class="buy_count">
                  <a href="javascript:void(0);" class="btn_minus" id="btn_minus">빼기</a>
                  <input type="text" th:name="count" th:value="1" id="ordcnt">
                  <a href="javascript:void(0);" class="btn_plus" id="btn_plus">더하기</a>
                </div>
                <!-- price -->
                <div class="buy_price">
                  <!--                  <span class="discount_price">-->
                  <!--                    <strong>11,000<span>원</span></strong>-->
                  <!--                  </span>-->
                  <strong>합계</strong><span class="total" th:text="${book.price}">9,900</span><span style="font-weight: bold"> P</span>
                  <!--                <em class="saving">-->
                  <!--                  <span class="badges_red">적립</span>-->
                  <!--                  <span>포인트 </span>-->
                  <!--                  110<span>P</span>-->
                  <!--                </em>-->
                </div>
              </div>
              <!-- buy button -->
              <div class="buy_btn_wrap">
                <!--              <a href="" class="btn_cb cb_gray_line go_cart" id="cartBtn">장바구니</a>-->
                <!--                    <input type="hidden" th:name="count" th:value="1"/>-->
                <button type="submit" class="btn_cb cb_violet go_buy" id="btnBuy">바로구매</button>
              </div>
            </form>
          </div>
          <!-- reference -->
          <div class="detail_info_notice">
            <table>
              <tbody>
              <tr scope="row">기타사항</tr>
              <tr th:each="registration : ${book.registrations}">
                <th scope="row"></th>
                <td th:unless="${registration.clazz==null || registration.clazz==''}" th:text="${registration.clazz}">
                  기타사항 내용
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <div th:replace="fragment/footer :: copy"></div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
  let count = $("#ordcnt").val();
  const price = $(".total").text();
  $("#btn_plus").on("click",function (){
    count++;
    countpr(price,count);
    $("#ordcnt").val(count);
  })
  $("#btn_minus").on("click",function (){
    if (count > 1) {
      count--;
      let price1 = $(".total").text();
      countmi(price,price1);
      $("#ordcnt").val(count);
    }
  })

  function countpr(price, count) {
    let result = count * price;
    $(".total").text(result);
  }
  function countmi(price, price1) {
    let result = price1 - price;
    $(".total").text(result);
  }

  window.addEventListener('load', function() {
    var allElements = document.getElementsByTagName('*');
    Array.prototype.forEach.call(allElements, function(el) {
      var includePath = el.dataset.includePath;
      if (includePath) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            el.outerHTML = this.responseText;
          }
        };
        xhttp.open('GET', includePath, true);
        xhttp.send();
      }
    });
  });
</script>
</body>
</html>