<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>책 정보 입력</h1>

<form th:action method="post" th:object="${bookSaveRequestDto}" enctype="multipart/form-data">
    책이름: <input type="text" th:field="*{title}"/><br>
    저자: <input type="text" id th:field="*{author}"/><br>
    출판사: <input type="text" th:field="*{publisher}"/><br>
    출판일 (ex. 2021-01-01): <input type="text" th:field="*{datetime}"/><br>
    정가 (ex. 18000): <input type="text" th:field="*{price}"/><br>
    <div id="thumbnail-img"></div>
    <input type="hidden" th:field="*{thumbnail}"/>

    <hr>

    책 표지 사진을 촬영해주세요. (선택 사항 -  책의 표지가 없는 경우 노출되지 않습니다.)<br>
    <input type="file" name="attachFile" th:field="*{attachFile}"><br>
    <br>
    책 상태에 대해 간단하게 적어주세요. (선택 사항 - 책의 상태에 따라 반납이 불가할 수 있습니다.)<br>
    <textarea id="content" name="content"></textarea>

    <hr>

    어느 수업때 사용한 책인가요? (선택 사항 - 구매자들에게 더욱 쉽게 노출됩니다.)<br>
    <select></select>

    <hr>

    <input type="submit" />

</form>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    sch = location.search

    const queryParam = new URLSearchParams(sch);
    const title = queryParam.get('t');
    searchParam(title); //실행

    function searchParam(key) {

        console.log(key);
        $.ajax({
            type: "GET",
            url: "https://dapi.kakao.com/v3/search/book?target=title",
            data: {query: key},
            headers: {Authorization: "KakaoAK c7e609c9ebe6c1d5acfa01b6a031db96"}
        })
            .done(function (msg) {
                console.log(msg);
                let data = msg.documents[0];
                $("#title").val(data.title);
                $("#author").val(data.authors);
                $("#publisher").val(data.publisher);
                $("#datetime").val(data.datetime.toString().substring(0,10));
                $("#price").val(data.price);
                $("#thumbnail-img").append("<img src='" + data.thumbnail + "'/><br>");
                $("#thumbnail").val(data.thumbnail);
            });
    }

</script>
</body>
</html>