@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
.contents{
    max-width: 560px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-left: 0!important;
    margin-top: 25px;
}

.img_width{
    width: 160px;
    border: 1px solid #d3d3d3;
    margin-bottom: 7px;
}
.none_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7px;
}
.form-control_div{
    margin-bottom: 9px;
    text-align: left;
}
.form-control_div span,.none_img span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 19px;

}
.last{
    margin-bottom: 20px;
}
.as1 a,.as2 a,.as3 button{
    margin-top: 10px;
}
.add_form_p{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 30px;
}
.as2{
    display: none;
}
.as3{
    display: none;
}
.as_span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 19px;
}