* {
	margin: 0;
	padding: 0;
}

.wrap {
  height: 100%;
}

.home {
  position: relative;
  min-height: 100%;
  background-color: #fff;
}

ul, li, a {
  text-decoration: none;
  list-style-type : none;
}

div {
  display: block;
}

body {
  font-family: 'Noto Sans KR','맑은 고딕', 'malgun gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif, "돋움", Dotum ,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}


/* contents */
.contents {
  min-height: 930px;
  padding-left: 225px;
  margin: 50px 0 36px;
  background-color: #fff;
}

.wrap_detail_info.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1130px;
}



/* main image */
.wrap_detail_info .box_image {
  float: left;
  width: 422px;
  margin-bottom: 20px;
  text-align: center;
}

.wrap_detail_info .box_image .slide_detail_img {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.wrap_detail_info .box_image .slide_detail_img ul {
  visibility: hidden;
  height: 505px;
}

.wrap_detail_info .box_image .slide_detail_img li {
  padding-bottom: 25px;
}

.wrap_detail_info .box_image .slide_detail_img a {
  display: block;
  padding: 10px;
  line-height: 460px;
}

.wrap_detail_info .box_image .slide_detail_img img {
  max-width: 422px;
  max-height: 460px;
  line-height: 460px;
  margin-top: 5px;
  vertical-align: middle;
  filter: drop-shadow(2px 4px 8px rgba(134, 134, 134, 0.25));
}



/* rank txt */
.wrap_detail_info .box_image .bestseller_score {
  font-size: 12px;
  line-height: 20px;
  padding-left: 35px;
  display: inline-block;
  margin-bottom: 12px;
  color: #666666;
  background: url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/icon/best.png) no-repeat left 0;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
}



/* title */
.wrap_detail_info .box_detail_info {
  float: left;
  width: 577px;
  /* margin-left: 60px; */
}

.wrap_detail_info .box_detail_info h3 {
  font-size: 20px;
  color: #212121;
  margin-bottom: 25px;
  line-height: 28px;
}



/* sub title */
.wrap_detail_info .box_detail_info .title_sub {
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  display: block;
  margin-bottom: 25px;
}

.wrap_detail_info .box_detail_info .title_sub span + span {
  padding-left: 5px;
  position: relative;
  margin-left: 2px;
}

.wrap_detail_info .box_detail_info .title_sub span + span:after {
  display: inline-block;
  content: '';
  height: 11px;
  width: 1px;
  background: #666;
  position: absolute;
  left: -1px;
  top: 1px;
}



/* book info */
.wrap_detail_info .box_detail_info .info_book {
  margin-bottom: 17px;
}

.wrap_detail_info .box_detail_info .info_book .info_more:first-child {
  margin-left: 0;
}

.wrap_detail_info .box_detail_info .info_book .info_more {
  display: inline-block;
  border-radius: 13px;
  padding: 0 12px;
  margin-left: 2px;
  background: #EBEDF7;
  color: #464B6F;
  line-height: 26px;
  font-size: 12px;
  box-shadow: 0px 2px 7px rgb(160 162 171 / 12%);
  border-radius: 13px;
  margin-bottom: 8px;
  position: relative;
}

.info_book .info_more a {
  display: inline-block;
  line-height: 26px;
  font-size: 12px;
}

a {
  color: #333;
  text-decoration: none;
}

.wrap_detail_info .box_detail_info .info_book em {
  display: inline-block;
  border: 1px solid #EBEDF6;
  box-sizing: border-box;
  border-radius: 13px;
  padding: 0 12px;
  margin-left: 2px;
  line-height: 26px;
  font-size: 12px;
  margin-bottom: 8px;
}

em {
  font-style: normal;
}
.right_box{
  /*overflow-y: auto;*/
}


/* book condition */
.wrap_detail_info .box_detail_info .common_box {
  overflow-y: auto;
  border-top: 1px solid #EFEFEF;
  padding: 20px 0;
  height: 100px;
  position: relative;
}

.wrap_detail_info .box_detail_info .left_box {
  float: left;
  width: 120px;
  font-size: 15px;
  line-height: 27px;
  color: #212121;
  display: block;
}

.wrap_detail_info .box_detail_info .right_box {
  float: right;
  width: 456px;
  /*height: 100px;*/
  position: relative;
  padding-top: 5px;
}

.wrap_detail_info .book_slipt_apply .text.text_black {
  color: #666666;
  /* text-indent: -8px;
  padding-left: 10px; */
}

.wrap_detail_info .book_slipt_apply .text {
  font-size: 13px;
  display: block;
  /*margin-bottom: 12px;*/
  width: 439px;
  /*height: 38px;*/
  line-height: 20px;
}



/* book count */
.wrap_detail_info .box_detail_info .buy_number.common_box {
  border-top: 1px solid #EFEFEF;
  padding: 20px 0;
  height: 180px;
  position: relative;
}

.wrap_detail_info .buy_count {
  padding: 0 26px;
  position: relative;
  width: 66px;
}

.wrap_detail_info .buy_count a.btn_minus {
  background: url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/price/btn_minus.png) no-repeat 0 0;
  left: 0;
}

.wrap_detail_info .buy_count a {
  position: absolute;
  display: block;
  height: 28px;
  width: 28px;
  text-indent: -9999px;
  overflow: hidden;
  float: left;
  z-index: 1;
}

.wrap_detail_info .buy_count input {
  width: 66px;
  height: 26px;
  line-height: 26px;
  color: #9E9E9E;
  border: 1px solid #DBDBDB;
  float: left;
  text-align: center;
}

.wrap_detail_info .buy_count a.btn_plus {
  background: url(//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/renewal/common/price/btn_plus.png) no-repeat 0 0;
  right: 0;
}



/* book price */
.wrap_detail_info .buy_price {
  width: 288px;
  float: right;
}

.wrap_detail_info  .buy_price {
  text-align: right;
  margin: 30px 0 25px;
}

.wrap_detail_info .buy_price .discount_price {
  display: block;
  margin-bottom: 4px;
}

.wrap_detail_info .buy_price .discount_price strong {
  font-size: 15px;
  line-height: 23px;
  text-decoration: line-through;
  color: #9E9E9E;
  margin-left: 13px;
}

.wrap_detail_info .buy_price .total {
  font-size: 30px;
  line-height: 41px;
  color: #212121;
  display: block;
  margin-bottom: 4px;
}

.wrap_detail_info .buy_price .total span {
  font-size: 14px;
  line-height: 23px;
  vertical-align: middle;
  margin-right: 18px;
}

.wrap_detail_info .buy_price .saving {
  font-weight: bold;
  color: #EB6A62;
  font-size: 11px;
  line-height: 22px;
  display: block;
}

.wrap_detail_info .buy_price .saving .badges_red {
  display: inline-block;
  background: #EB6A62;
  border-radius: 20px;
  line-height: 19px;
  color: #fff;
  padding: 0 8px;
  margin-right: 8px;
}

.wrap_detail_info .buy_price .saving .discount {
  font-weight: normal;
  color: #212121;
  margin-left: 8px;
}
.buy_price{
  display: flex;
  align-items: center;
  justify-content: right;
}
.total{
  margin: 0 5px 0 10px;
  font-weight: bold;
}


/* buy btn */
.wrap_detail_info .buy_btn_wrap a, .product_detail .buy_btn_wrap span {
  display: block;
  border-radius: 0;
  line-height: 48px;
  font-size: 16px;
  box-shadow: none;
}

.cb_violet {
  background-color: #5ca6e3;
  color: #fff;
  border: 1px solid #5ca6e3;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

.btn_cb {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  transition: 0.3s;
  vertical-align: middle;
}

.wrap_detail_info .buy_btn_wrap .cb_violet {
  width: 100%;
  float: right;
  height: 48px;
  box-shadow: 0px 4px 10px rgb(160 162 171 / 53%);
}



/* reference */
.wrap_detail_info .box_detail_info .detail_info_notice {
  background: #FBFBFB;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  height: 92px;
  width: 525px;
  padding: 10px 25px;
  overflow-y: auto;
}

.wrap_detail_info .box_detail_info .detail_info_notice table th, .wrap_detail_info .box_detail_info .detail_info_notice table td {
  font-weight: normal;
  font-size: 12px;
  line-height: 23px;
  color: #9E9E9E;
  vertical-align: top;
  text-align: left;
  width: 80px;
}

.img217 li img{
  width: 297px!important;
}