* {
	margin: 0;
	padding: 0;
}

.wrap {
  height: 100%;
}

.home {
  position: relative;
  min-height: 100%;
  background-color: #fff;
}

ul, li, a {
  text-decoration: none;
  list-style-type : none;
}

div {
  display: block;
}




.contents {
  min-height: 620px;
  padding-left: 225px;
  margin: 50px 0 36px;
  background-color: #fff;
}

.container_search {
  margin-left: auto;
  margin-right: auto;
  width: 1130px;

}
.container_search_back{
    width: 100%;

}

.search_nav{
    display: flex;
    justify-content: space-between;
    width: 960px;
    height: 67px;

    padding-top: 22px;
    padding-left: 30px;
}
.search_name{
    padding-top: 22px;
    padding-right: 30px;
    font-size: 14px;
    color: #666;
}
.search1{
    position: relative;
    width: 520px;
    height: 40px;
}
.search_box {
  display: block;
  padding: 9px 0 9px 10px;
  height: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.box{
  /* margin-left: 30px; */
  width: 1130px;
  background-color: #fbfbfb;
    margin: 0 auto;
}
.search_input{
    margin: 0;
    padding: 0;
    width: 325px;
    height: 20px;
    line-height: 20px;
    border: none;
    border: 0;
    outline: none;
    color: #666;
}
.search_btn {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  width: 70px;
  height: 40px;
  border: none;
  border: 0;
  vertical-align: top;
  cursor: pointer;
  background: #5ca6e3;
  color: #fff;
  -webkit-appearance: none;
  border-radius: 5px;
}

.search_list{
  /* width: 960px; */
  position: relative;
  padding: 30px;
  border-top: solid 1px #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_list img {
  box-shadow: 5px 5px 5px #999;
}

.search_p{
  font-size: 21px;
  font-weight: bold;
  color: #232323;
  margin-bottom: 8px;
}

.search_center span {
  color: #888;
  font-size: 14px;
  line-height: 21px;
}
.search_nextbtn{
    width: 70px;
    height: 40px;
    border: none;
    background-color: #6f86d6;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    font-size: 15px;
}
.search_center{
    width: 550px;
}
.home{
    overflow-x: clip !important;
}
.contents {
    background: white !important;
}
.cb_violet {
    background-color: #5ca6e3;
    color: #fff;
    border: 1px solid #5ca6e3;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}