<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="./css/index.css" rel="stylesheet">
</head>
<body>
  <div class="wrap">
    <div class="home">
      <!-- left menu --> 
      <header class="header side_bar">
        <h1 class="logo">
          <a href="/" class="link_logo router-link-active">
            <span class="blind">프로젝트 제목</span>
          </a>
        </h1>
        <a href="#" role="button" aria-expanded="false" class="btn_search">
          <span class="blind">검색</span>
        </a>
        <div class="search_area">
          <span class="input_area">
            <input type="search" role="combobox" id="search_keyword" aria-expanded="false" aria-haspopup="listbox" title="검색창" placeholder="VIBE 검색" autocomplete="off" class="input_search">
          </span>
          <a href="#" role="button" class="btn_close_search">
            <span class="blind">검색 닫기</span>
          </a>
        </div>
        <div class="my_menu">
          <div class="profile_area">
            <a class="link_login" th:if="${member} == null" href="loginForm.html" th:href="@{/login}" >
              <span class="text">로그인</span>
            </a>
            <div th:if="${member} != null">
              <div class="link_login">
                <span class="text" th:text="${member.name}">사용자 이름</span>
              </div>
              <form th:action="@{/logout}" method="post">
                <button class="w-100 btn btn-dark btn-lg" type="submit" onclick="location.href='index.html'">
                  로그아웃
                </button>
              </form>
            </div>
          </div>
          <div class="ly_menu">
            <div class="menu_area">
              <ul role="menu" class="menu_list">
                <li role="presentation" class="menu_item">
                  <a href="#" role="menuitem" class="link_menu link_today on">
                    <span class="text"> 오늘의 책 <span class="blind">선택됨</span></span>
                  </a>
                </li>
                <li role="presentation" class="menu_item">
                  <a href="#" role="menuitem" class="link_menu link_chart">
                    <span class="text"> 학과 </span>
                  </a>
                </li>
                <li role="presentation" class="menu_item">
                  <a href="#" role="menuitem" class="link_menu link_newalbum">
                    <span class="text"> 전공 </span>
                  </a>
                </li>
                <li role="presentation" class="menu_item">
                  <a href="#" role="menuitem" class="link_menu link_dj">
                    <span class="text"> 교양 </span>
                  </a>
                </li>
                <li role="presentation" class="menu_item">
                  <a href="#" role="menuitem" class="link_menu link_mag">
                    <span class="text"> 신규 </span>
                  </a>
                </li>
                <li role="presentation" class="menu_item">
                  <a href="#" role="menuitem" class="link_menu link_monthly">
                    <span class="text"> 인기 </span>
                  </a>
                </li>
              </ul>
              <div role="menu" class="extra_menu">
                <a href="/wheresmymoney/" target="_blank" rel="noopener noreferrer" class="link_extra link_text">#내돈내봄</a>
                <a href="#" class="link_extra link_text">온스테이지</a>
                <a href="/about" class="link_extra link_text" target="_blank" rel="noopener noreferrer"> 서비스 소개 </a>
                <a href="/membership/vibe" class="link_extra link_text" role="menuitem"> 멤버십 구독 </a>
                <a href="/vibereview" class="link_extra link_text" role="menuitem"> 사용자 리뷰 </a>
                <a href="/comingsoonvibe" role="menuitem" class="link_extra link_text comingsoonvibe"> 커밍쑨 </a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- contents --> 
      <div class="contents">
        <div class="banner">
          <div class="s_title">
            <h6>
              <span>전공 서적 구매하기가 부담스러우신가요?</span>
            </h6>
          </div>
          <div class="m_title">
            <h1>
              <span>찾는 서적을 검색해보세요!</span>
            </h1>
          </div>
          <div class="search">
            <div class="search_area">
              <form>
                <div class="s_form">
                  <input type="search" name="search" class="" value="" placeholder="검색어를 입력하세요" maxlength="250">
                </div>
                <div class="button">
                  <button class="s_btn">
                    <span>검색</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- first section --> 
        <div class="today_section">
          <h3 class="section_title_wrap">
            <a href="/magazines" class="section_title"> 오늘의 신간 <span class="blind">전체보기</span></a>
          </h3>
            <div class="list_wrap_larger is_mag"><div>
              <ul class="scroll_list">
                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/52880" class="link">
                      <div class="thumb">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0906/0100023057200-BP.jpg" class="v-lazy-image v-lazy-image-loaded" alt="눈 부신 밤 하늘 아래 슬기.zip>">
                      </div>
                    </a>
                  </div>
                  <a href="/magazines/52880" class="title">책 제목
                    <span class="blind">페이지로 이동</span>
                  </a>
                  <div class="writer">
                    <span>작가/출판사</span>
                  </div>
                  <div class="sub">
                    <span class="item">
                    <span class="blind">작성일</span> 2021.09.09 </span>
                  </div>
                </li>
                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/52880" class="link">
                      <div class="thumb">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0907/0100023057118-BP.jpg" class="v-lazy-image v-lazy-image-loaded" alt="눈 부신 밤 하늘 아래 슬기.zip>">
                      </div>
                    </a>
                  </div>
                  <a href="/magazines/52880" class="title">책 제목
                    <span class="blind">페이지로 이동</span>
                  </a>
                  <div class="writer">
                    <span>작가/출판사</span>
                  </div>
                  <div class="sub">
                    <span class="item">
                    <span class="blind">작성일</span> 2021.09.09 </span>
                  </div>
                </li>
                <li class="list_item">
                  <div class="thumb_area">
                    <a href="./book_info.html" class="link">
                      <div class="thumb">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2021/0909/JWseT.jpg" class="v-lazy-image v-lazy-image-loaded" alt="눈 부신 밤 하늘 아래 슬기.zip>">
                      </div>
                    </a>
                  </div>
                  <a href="./book_info.html" class="title">책 제목
                    <span class="blind">페이지로 이동</span>
                  </a>
                  <div class="writer">
                    <span>작가/출판사</span>
                  </div>
                  <div class="sub">
                    <span class="item">
                    <span class="blind">작성일</span> 2021.09.09 </span>
                  </div>
                </li>
                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/52880" class="link">
                      <div class="thumb">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0910/0100023052199-BP.jpg" class="v-lazy-image v-lazy-image-loaded" alt="눈 부신 밤 하늘 아래 슬기.zip>">
                      </div>
                    </a>
                  </div>
                  <a href="/magazines/52880" class="title">책 제목
                    <span class="blind">페이지로 이동</span>
                  </a>
                  <div class="writer">
                    <span>작가/출판사</span>
                  </div>
                  <div class="sub">
                    <span class="item">
                    <span class="blind">작성일</span> 2021.09.09 </span>
                  </div>
                </li>
              </ul>
            </div>
            <a href="#" role="button" class="VueCarousel-navigation-next">
              <span class="blind">다음 리스트 보기</span>
            </a>
          </div>
        </div>
        <!-- second section -->
        <div class="today_section">
          <h3 class="section_title_wrap">
            <a href="/magazines" class="section_title"> 종합 베스트 차트 <span class="blind">전체보기</span></a>
          </h3>
            <div class="list_wrap_larger is_mag"><div>
              <ul class="scroll_list">
                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/52880" class="link">
                      <div class="thumb">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0906/0100023057200-BP.jpg" class="v-lazy-image v-lazy-image-loaded" alt="눈 부신 밤 하늘 아래 슬기.zip>">
                      </div>
                    </a>
                  </div>
                  <a href="/magazines/52880" class="title">책 제목
                    <span class="blind">페이지로 이동</span>
                  </a>
                  <div class="writer">
                    <span>작가/출판사</span>
                  </div>
                  <div class="sub">
                    <span class="item">
                    <span class="blind">작성일</span> 2021.09.09 </span>
                  </div>
                </li>
                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/52880" class="link">
                      <div class="thumb">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0907/0100023057118-BP.jpg" class="v-lazy-image v-lazy-image-loaded" alt="눈 부신 밤 하늘 아래 슬기.zip>">
                      </div>
                    </a>
                  </div>
                  <a href="/magazines/52880" class="title">책 제목
                    <span class="blind">페이지로 이동</span>
                  </a>
                  <div class="writer">
                    <span>작가/출판사</span>
                  </div>
                  <div class="sub">
                    <span class="item">
                    <span class="blind">작성일</span> 2021.09.09 </span>
                  </div>
                </li>
                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/52880" class="link">
                      <div class="thumb">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/upload/2021/0909/JWseT.jpg" class="v-lazy-image v-lazy-image-loaded" alt="눈 부신 밤 하늘 아래 슬기.zip>">
                      </div>
                    </a>
                  </div>
                  <a href="/magazines/52880" class="title">책 제목
                    <span class="blind">페이지로 이동</span>
                  </a>
                  <div class="writer">
                    <span>작가/출판사</span>
                  </div>
                  <div class="sub">
                    <span class="item">
                    <span class="blind">작성일</span> 2021.09.09 </span>
                  </div>
                </li>
                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/52880" class="link">
                      <div class="thumb">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0910/0100023052199-BP.jpg" class="v-lazy-image v-lazy-image-loaded" alt="눈 부신 밤 하늘 아래 슬기.zip>">
                      </div>
                    </a>
                  </div>
                  <a href="/magazines/52880" class="title">책 제목
                    <span class="blind">페이지로 이동</span>
                  </a>
                  <div class="writer">
                    <span>작가/출판사</span>
                  </div>
                  <div class="sub">
                    <span class="item">
                    <span class="blind">작성일</span> 2021.09.09 </span>
                  </div>
                </li>
              </ul>
            </div>
            <a href="#" role="button" class="VueCarousel-navigation-next">
              <span class="blind">다음 리스트 보기</span>
            </a>
          </div>
        </div>
        <!-- third section --> 
        <div class="introduce_section">
          <strong class="title">지금 바로 로그인하고 <br>안쓰는 전공책 사고 팔기!</strong>
          <p class="text">전공부터 교양까지 모든 분야를 아우르는 건 기본. <br>다양한 서적들이 바로바로 업데이트.</p>
          <div class="img_playlists"></div>
        </div>
      </div>
      <!-- footer --> 
      <footer class="footer">
        <div class="terms">
          <a href="https://policy.naver.com/policy/privacy.html" target="_blank" rel="noopener noreferrer" class="item">
            <strong>개인정보처리방침</strong>
          </a>
          <a href="#" target="_blank" class="item">BBR 이용약관</a>
          <a href="https://help.naver.com/support/alias/contents1/vibe/vibe_7.naver" target="_blank" rel="noopener noreferrer" class="item">고객센터</a>
          <a href="https://help.naver.com/support/alias/contents1/vibe/vibe_6.naver" target="_blank" rel="noopener noreferrer" class="item">결제/환불 안내</a>
          <a href="https://www.navercorp.com" target="_blank" rel="noopener noreferrer" class="item">© BBR. ALL RIGHT RESERVED.</a>
        </div>
        <div class="naver_info">
          <span class="item">BBR Project</span>
          <div>
            <span class="item">
              <span class="item_head">대표</span>김남경, 김주호, 전소진</span>
              <span class="item"><span class="item_head">호스팅 서비스 제공</span>BBR</span>
            </div>
            <address>
              <span class="item">
                <span class="item_head">주소</span>경기도 안양시 동안구 비산동 임곡로 29, 대림대학교</span>
                <span class="item"><span class="item_head">대표전화</span>031-467-4700</span>
                <span class="item"><span class="item_head">이메일</span>
                <a href="mailto:ccnaver@naver.com" class="link_email">Book@book.com</a>
              </span>
            </address>
          </div>
      </footer>
    </div>
  </div> 
</body>
</html>