<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {인
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="text-center" style="padding-top: 86px; padding-bottom: 43px">
        <h2 style="font-size: 60px; color:#5ca6e3; font-weight: 650;">BBR</h2>
    </div>

    <form th:action th:object="${loginRequestDto}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="loginId" style="display: none;">아이디</label>
            <input type="text" id="loginId" th:field="*{username}" class="form-control" th:errorclass="field-error" placeholder="아이디" style="margin-bottom: 8px;">
            <div class="field-error" th:errors="*{username}" />
        </div>
        <div>
            <label for="password" style="display: none;">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="비밀번호" th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" style="background-color: #6f86d6; border: #6f86d6 1px solid; font-weight: 500;
                font-size: 17px;">로그인</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='index.html'"
                        th:onclick="|location.href='@{/}'|" type="button" style="font-weight: 500;
                        font-size: 17px;">취소</button>
            </div>
        </div>
        <div class="col">
            <button class="w-100 btn btn-info btn-lg" onclick="location.href='joinForm.html'"
                    th:onclick="|location.href='@{/members/add}'|" type="button" style="background-color: #5ca6e3; border: #5ca6e3 1px solid; font-weight: 500;
                    font-size: 17px; color: #fff; margin-top: 12px;">회원가입</button>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>