<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>학과</title>
  <link href="./css/department.css" th:href="@{/css/department.css}" rel="stylesheet">
  <link href="./css/header.css" th:href="@{/css/header.css}" rel="stylesheet">
  <link href="./css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
  <div class="wrap">
    <div class="home">
      <!-- left menu -->
      <div th:insert="~{fragment/header :: copy}"></div>
      <!-- contents -->
      <div class="container">
        <div class="content">
          <div class="subend_section">
            <h2 class="subend_title for_ellipsis">학과</h2>
            <div class="sort_order">
              <a href="#" class="item">
                <span th:text="${member.department}">컴퓨터정보학부</span>  <!--    여기 수정     -->
                <span class="blind">정렬</span>
              </a>
            </div>
            <div class="sub_list">
              <ul class="dep_list">
              </ul>
              <div class="btn_more_list display_no">
                <a  style="cursor:pointer" role="button" class="link aaaaaaa">
                  <span class="text">더 보기</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <div th:replace="fragment/footer :: copy"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.js"
          integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script>
    window.addEventListener('load', function() {
      var allElements = document.getElementsByTagName('*');
      Array.prototype.forEach.call(allElements, function(el) {
        var includePath = el.dataset.includePath;
        if (includePath) {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              el.outerHTML = this.responseText;
            }
          };
          xhttp.open('GET', includePath, true);
          xhttp.send();
        }
      });

      newPage();
      function newPage() {

        $.ajax({
          type: "GET",
          url: "/api/books/myDept",
          success : function (data){

            console.log(data);

            for (let i =0;i < 10; i++){
              let data1 = data[i];

              $(".dep_list").append("<li class=\"list_item\">\n" +
                      "                  <div class=\"\">\n" +
                      "                    <div class=\"thumb_area\">\n" +
                      "                    <a href=\"/books/"+ data1.id +"\" class=\"link imgif"+ i +"\">\n" +
                      "                        <img src='" + data1.thumbnail + "' >\n" +
                      "                      </a>\n" +
                      "                    </div>\n" +
                      "                    <div class=\"info\">\n" +
                      "                    <a href=\"/books/"+ data1.id +"\" class=\"title\">\n" +
                      "                        <span class=\"text\">" + data1.title + "</span>\n" +
                      "                        <span class=\"blind\">페이지로 이동</span>\n" +
                      "                      </a>\n" +
                      "                      <div class=\"artist\">\n" +
                      "                        <span>\n" +
                      "                          <span>\n" +
                      "                            <a href=\"/books/"+ data1.id +"\" class=\"link_artist\">\n" +
                      "                              <span class=\"text\">" + data1.author + " | " + data1.publisher + "</span>\n" +
                      "                            </a>\n" +
                      "                          </span>\n" +
                      "                        </span>\n" +
                      "                        <span class=\"blind\">지은이/출판사</span>\n" +
                      "                      </div>\n" +
                      "                    </div>\n" +
                      "                  </div>\n" +
                      "                </li>")
              if (data1.thumbnail == null){
                $('.imgif'+i).empty();
                $(".imgif" + i).append("<img src='http://localhost:8080/images/" + data1.attachFile.storeFileName + "' >\n")
              }
            }
          }
        });
      }

      $(".aaaaaaa").on("click",function (){
        newsc()
      })
      function newsc() {
        $(".display_no").hide();
        $.ajax({
          type: "GET",
          url: "/api/books/myDept",
          success: function (data) {

            console.log(data);

            for (let i = 10; i < data.length; i++) {
              let data1 = data[i];

              $(".dep_list").append("<li class=\"list_item\">\n" +
                      "                  <div class=\"\">\n" +
                      "                    <div class=\"thumb_area\">\n" +
                      "                    <a href=\"/books/"+ data1.id +"\" class=\"link imgif"+ i +"\">\n" +
                      "                        <img src='" + data1.thumbnail + "' >\n" +
                      "                      </a>\n" +
                      "                    </div>\n" +
                      "                    <div class=\"info\">\n" +
                      "                    <a href=\"/books/"+ data1.id +"\" class=\"title\">\n" +
                      "                        <span class=\"text\">" + data1.title + "</span>\n" +
                      "                        <span class=\"blind\">페이지로 이동</span>\n" +
                      "                      </a>\n" +
                      "                      <div class=\"artist\">\n" +
                      "                        <span>\n" +
                      "                          <span>\n" +
                      "                            <a href=\"/books/"+ data1.id +"\" class=\"link_artist\">\n" +
                      "                              <span class=\"text\">" + data1.author + " | " + data1.publisher + "</span>\n" +
                      "                            </a>\n" +
                      "                          </span>\n" +
                      "                        </span>\n" +
                      "                        <span class=\"blind\">지은이/출판사</span>\n" +
                      "                      </div>\n" +
                      "                    </div>\n" +
                      "                  </div>\n" +
                      "                </li>")
              if (data1.thumbnail == null) {
                $('.imgif' + i).empty();
                $(".imgif" + i).append("<img src='http://localhost:8080/images/" + data1.attachFile.storeFileName + "' >\n")
              }
            }
          }
        });
      }
    });
  </script>
</body>
</html>