<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 페이지</title>
  <link href="./css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
  <link href="./css/header.css" th:href="@{/css/header.css}" rel="stylesheet">
  <link href="./css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<div class="wrap">
  <div class="home init_home">
    <!-- left menu -->
    <div th:insert="~{fragment/header :: copy}"></div>
    <!-- contents -->
    <div class="contents">
      <div class="banner">
        <div class="s_title">
          <h6>
            <span>대학교 강의 교재 구매하기가 부담스러우신가요?</span>
          </h6>
        </div>
        <div class="m_title">
          <h1>
            <span>찾는 서적을 검색해보세요!</span>
          </h1>
        </div>
        <div class="search">
          <div class="search_area">
            <form th:action="@{/search}" type="get">
              <div class="s_form">
                <input type="search" name="word" placeholder="검색어를 입력하세요" maxlength="250">
              </div>
              <div class="button">
                <button class="s_btn" type="submit">
                  <span>검색</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- first section -->
      <div class="today_section">
        <h3 class="section_title_wrap">
          <a href="./new.html" class="section_title"> 오늘의 신간 <span class="blind">전체보기</span></a>
        </h3>
        <div class="list_wrap_larger is_mag"><div>
          <ul class="scroll_list newpage">

          </ul>
        </div>
          <a href="#" role="button" class="VueCarousel-navigation-next">
            <span class="blind">다음 리스트 보기</span>
          </a>
        </div>
      </div>
      <!-- second section -->
      <div class="today_section">
        <h3 class="section_title_wrap">
          <a href="./rank.html" class="section_title"> 종합 베스트 차트 <span class="blind">전체보기</span></a>
        </h3>
        <div class="list_wrap_larger is_mag"><div>
          <ul class="scroll_list rankpage">

          </ul>
        </div>
          <a href="#" role="button" class="VueCarousel-navigation-next">
            <span class="blind">다음 리스트 보기</span>
          </a>
        </div>
      </div>
      <!-- third section -->
      <div class="introduce_section">
        <strong class="title">지금 바로 로그인하고 <br>안쓰는 전공책 사고 팔기!</strong>
        <p class="text">전공부터 교양까지 모든 분야를 아우르는 건 기본. <br>다양한 서적들이 바로바로 업데이트.</p>
        <div class="img_playlists"></div>
      </div>
    </div>
    <!-- footer -->
    <div th:replace="fragment/footer :: copy"></div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
  window.addEventListener('load', function() {
    var allElements = document.getElementsByTagName('*');
    Array.prototype.forEach.call(allElements, function(el) {
      var includePath = el.dataset.includePath;
      if (includePath) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            el.outerHTML = this.responseText;
          }
        };
        xhttp.open('GET', includePath, true);
        xhttp.send();
      }
    });
    newPage();
    rankPage();

    function newPage() {
      $.ajax({
        type: "GET",
        url: "/api/books/latest",
        success : function (data){
          for (let i =0;i < 8; i++){
            let data1 = data[i];
            $(".newpage").append(" <li class=\"list_item\">\n" +
                    "              <div class=\"thumb_area\">\n" +
                    "                <a href=\"/books/"+ data1.id +"\" class=\"link\">\n" +
                    "                  <div class=\"thumb imgif"+i+"\">\n" +
                    "                        <img src='" + data1.thumbnail + "' >\n" +
                    "                  </div>\n" +
                    "                </a>\n" +
                    "              </div>\n" +
                    "              <a href=\"/books/"+ data1.id +"\" class=\"title\">"+ data1.title + "\n" +
                    "                <span class=\"blind\">페이지로 이동</span>\n" +
                    "              </a>\n" +
                    "              <div class=\"writer\">\n" +
                    "                <span>"+ data1.author + " | "+ data1.publisher + "</span>\n" +
                    "              </div>\n" +
                    "              <div class=\"sub\">\n" +
                    "                    <span class=\"item\">\n" +
                    "                    <span class=\"blind\">작성일</span>"+ data1.datetime +"</span>\n" +
                    "              </div>\n" +
                    "            </li>")
            if (data1.thumbnail == null){
              $('.imgif'+i).empty();
              $(".imgif" + i).append("<img src='http://localhost:8080/images/" + data1.attachFile.storeFileName + "' >\n")
            }
          }
        }
      });
    }
    function rankPage() {
      $.ajax({
        type: "GET",
        url: "/api/books/popular",
        success : function (data){
          for (let i =0;i < 8; i++){
            let data1 = data[i];
            $(".rankpage").append(" <li class=\"list_item\">\n" +
                    "              <div class=\"thumb_area\">\n" +
                    "                <a href=\"/books/"+ data1.id +"\" class=\"link\">\n" +
                    "                  <div class=\"thumb imgif"+i+"\">\n" +
                    "                        <img src='" + data1.thumbnail + "' >\n" +
                    "                  </div>\n" +
                    "                </a>\n" +
                    "              </div>\n" +
                    "              <a href=\"/books/"+ data1.id +"\" class=\"title\">"+ data1.title + "\n" +
                    "                <span class=\"blind\">페이지로 이동</span>\n" +
                    "              </a>\n" +
                    "              <div class=\"writer\">\n" +
                    "                <span>"+ data1.author + " | "+ data1.publisher + "</span>\n" +
                    "              </div>\n" +
                    "              <div class=\"sub\">\n" +
                    "                    <span class=\"item\">\n" +
                    "                    <span class=\"blind\">작성일</span>"+ data1.datetime +"</span>\n" +
                    "              </div>\n" +
                    "            </li>")
            if (data1.thumbnail == null){
              $('.imgif'+i).empty();
              $(".imgif" + i).append("<img src='http://localhost:8080/images/" + data1.attachFile.storeFileName + "' >\n")
            }
          }
        }
      });
    }
  });
</script>
</body>
</html>