<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전공</title>
    <link href="./css/major.css" th:href="@{/css/major.css}" rel="stylesheet">
    <link href="./css/header.css" th:href="@{/css/header.css}" rel="stylesheet">
    <link href="./css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
<div class="wrap">
    <div class="home">
        <!-- left menu -->
        <div th:insert="~{fragment/header :: copy}"></div>
        <!-- contents -->
        <div class="container">
            <div class="content">
                <div class="subend_section">
                    <h2 class="subend_title for_ellipsis">전공</h2>
                    <div class="select_box">
                        <select class="select select_one" name="" id="">
                            <option value="0">선택하여 검색</option>
                            <option value="1">공학계열</option>
                            <option value="2">인문사회계열</option>
                            <option value="3">자연과학계열</option>
                            <option value="4">예체능</option>
                        </select>
                        <span class="major_arrow">></span>
                        <select class="select select_two" name="" id="">
                            <option value="0">-------</option>
                        </select>
                    </div>
                    <div class="sub_list">
                        <ul class="dep_list">
                        </ul>
                        <div class="btn_more_list">
                            <a  style="cursor:pointer" role="button" class="link aaaaaaa">
                                <span class="text">더 보기</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div th:replace="fragment/footer :: copy"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>

    window.addEventListener('load', function() {
        var allElements = document.getElementsByTagName('*');
        Array.prototype.forEach.call(allElements, function(el) {
            var includePath = el.dataset.includePath;
            if (includePath) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        el.outerHTML = this.responseText;
                    }
                };
                xhttp.open('GET', includePath, true);
                xhttp.send();
            }
        });
        const Engineering = ['건축학부', '기계과', '컴퓨터정보학부','실내디자인','전기과','미래자동차과'];
        const Humanities = ['경영과', '사무행정과', '유아교육과','항공서비스과','호텔관광과'];
        const Department = ['언어치료과', '호텔조리전공', '제과제빵커피전공'];

        $(".select_one").on('change',function (){
            if ($(".select_one option:selected").val() == 0) {
                $(".select_two option").remove();
                $(".select_two").append('<option value="0">-------</option>')
            }else if($(".select_one option:selected").val() == 1){ //공학
                $(".select_two option").remove();
                $(".select_two").append('<option value="0">-------</option>')
                for (let i = 0; i < Engineering.length; i++) {

                    $(".select_two").append("<option value='"+Engineering[i]+"'>"+Engineering[i]+"</option>")
                }
            }else if($(".select_one option:selected").val() == 2){ //인문사회계열
                $(".select_two option").remove();
                $(".select_two").append('<option value="0">-------</option>')
                for (let i = 0; i < Humanities.length; i++) {

                    $(".select_two").append("<option value='"+Humanities[i]+"'>"+Humanities[i]+"</option>")
                }
            }else if($(".select_one option:selected").val() == 3){ //자연과학계열
                $(".select_two option").remove();
                $(".select_two").append('<option value="0">-------</option>')
                for (let i = 0; i < Department.length; i++) {

                    $(".select_two").append("<option value='"+Department[i]+"'>"+Department[i]+"</option>")
                }
            }else if($(".select_one option:selected").val() == 4){ //예체능
                $(".select_two option").remove();
                $(".select_two").append('<option value="스포츠지도과">스포츠지도과</option>')
            }
        })
        let cococo = "/api/books/myDept";
        let aoaoao = "";

        newPage(cococo,aoaoao);

        $(".select_two").on('change',function (){
            cococo = "/api/books/dept";
            aoaoao = $(".select_two option:selected").val()
            console.log(aoaoao);
            newPage(cococo,aoaoao);
        })
        function newPage(cococo,aoaoao) {
            $.ajax({
                type: "GET",
                url: cococo,
                data: { department: aoaoao },
                success : function (data){
                    $(".dep_list").empty();
                    console.log(data);
                    if (data.length == 0 ){
                        $(".dep_list").append('<div style="font-size: 20px;margin: 10px 0 20px 0;">데이터가 없습니다.</div>')

                    }
                    for (let i =0;i < 10; i++){
                        let data1 = data[i];
                        $(".dep_list").append("<li class=\"list_item\">\n" +
                            "                  <div class=\"\">\n" +
                            "                    <div class=\"thumb_area\">\n" +
                            "                    <a href=\"/books/"+ data1.id +"\" class=\"link imgif"+ i +"\">\n" +
                            "                        <img src='" + data1.thumbnail + "' >\n" +
                            "                      </a>\n" +
                            "                    </div>\n" +
                            "                    <div class=\"info\">\n" +
                            "                    <a href=\"/books/"+ data1.id +"\" class=\"title\">\n" +
                            "                        <span class=\"text\">" + data1.title + "</span>\n" +
                            "                        <span class=\"blind\">페이지로 이동</span>\n" +
                            "                      </a>\n" +
                            "                      <div class=\"artist\">\n" +
                            "                        <span>\n" +
                            "                          <span>\n" +
                            "                            <a href=\"/books/"+ data1.id +"\" class=\"link_artist\">\n" +
                            "                              <span class=\"text\">" + data1.author + " | " + data1.publisher + "</span>\n" +
                            "                            </a>\n" +
                            "                          </span>\n" +
                            "                        </span>\n" +
                            "                        <span class=\"blind\">지은이/출판사</span>\n" +
                            "                      </div>\n" +
                            "                    </div>\n" +
                            "                  </div>\n" +
                            "                </li>")
                        if (data1.thumbnail == null){
                            $('.imgif'+i).empty();
                            $(".imgif"+ i).append("<img src='http://localhost:8080/images/" + data1.attachFile.storeFileName + "' >\n")
                        }
                    }
                }
            });
        }

        $(".aaaaaaa").on("click",function (){
            console.log(aoaoao)
            newsc(cococo,aoaoao)
        })
        function newsc(cococo,aoaoao) {
            $.ajax({
                type: "GET",
                url: cococo,
                data: { department:aoaoao },
                success: function (data) {
                    console.log(data);
                    for (let i = 10; i < data.length; i++) {
                        let data1 = data[i];
                        $(".dep_list").append("<li class=\"list_item\">\n" +
                            "                  <div class=\"\">\n" +
                            "                    <div class=\"thumb_area\">\n" +
                            "                    <a href=\"/books/"+ data1.id +"\" class=\"link imgif"+ i +"\">\n" +
                            "                        <img src='" + data1.thumbnail + "' >\n" +
                            "                      </a>\n" +
                            "                    </div>\n" +
                            "                    <div class=\"info\">\n" +
                            "                    <a href=\"/books/"+ data1.id +"\" class=\"title\">\n" +
                            "                        <span class=\"text\">" + data1.title + "</span>\n" +
                            "                        <span class=\"blind\">페이지로 이동</span>\n" +
                            "                      </a>\n" +
                            "                      <div class=\"artist\">\n" +
                            "                        <span>\n" +
                            "                          <span>\n" +
                            "                            <a href=\"/books/"+ data1.id +"\" class=\"link_artist\">\n" +
                            "                              <span class=\"text\">" + data1.author + " | " + data1.publisher + "</span>\n" +
                            "                            </a>\n" +
                            "                          </span>\n" +
                            "                        </span>\n" +
                            "                        <span class=\"blind\">지은이/출판사</span>\n" +
                            "                      </div>\n" +
                            "                    </div>\n" +
                            "                  </div>\n" +
                            "                </li>")
                        if (data1.thumbnail == null) {
                            $('.imgif' + i).empty();
                            $(".imgif" + i).append("<img src='http://localhost:8080/images/" + data1.attachFile.storeFileName + "' >\n")
                        }
                    }
                }
            });
        }
    });
</script>
</body>
</html>