<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>인기</title>
  <link href="./css/rank.css" th:href="@{/css/rank.css}" rel="stylesheet">
  <link href="./css/header.css" th:href="@{/css/header.css}" rel="stylesheet">
  <link href="./css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>
  <div class="wrap">
    <div class="home">
      <!-- left menu -->
      <div th:insert="~{fragment/header :: copy}"></div>
      <!-- contents -->
      <div class="contents">
        <div class="container">
          <div class="content">
            <h2 class="end_title"> 인기 </h2>
            <div class="mag_list_section">
              <ul class="mag_list">
                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/53625" class="link">
                      <div class="thumb">
                        <span>1</span>
                        <img src="//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0913/0100023068671-00.jpg" alt="우리는 모두 드레이크의 시대에 살고 있다">
                      </div>
                    </a>
                  </div>
                  <div class="info">
                    <a href="/magazines/53625" class="title">
                      2022 문동균 한국사 기출은 문동균
                    </a>
                    <div class="sub">
                      <span class="item">
                        <span class="blind">저자</span> 
                        문동균 | 에스티유니타스
                      </span>
                    </div>
                  </div>
                </li>

                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/53625" class="link">
                      <div class="thumb">
                        <span>2</span>
                        <img src="//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0913/0100023068671-00.jpg" alt="우리는 모두 드레이크의 시대에 살고 있다">
                      </div>
                    </a>
                  </div>
                  <div class="info">
                    <a href="/magazines/53625" class="title">
                      2022 문동균 한국사 기출은 문동균
                    </a>
                    <div class="sub">
                      <span class="item">
                        <span class="blind">저자</span> 
                        문동균 | 에스티유니타스
                      </span>
                    </div>
                  </div>
                </li>

                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/53625" class="link">
                      <div class="thumb">
                        <span>3</span>
                        <img src="//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0913/0100023068671-00.jpg" alt="우리는 모두 드레이크의 시대에 살고 있다">
                      </div>
                    </a>
                  </div>
                  <div class="info">
                    <a href="/magazines/53625" class="title">
                      2022 문동균 한국사 기출은 문동균
                    </a>
                    <div class="sub">
                      <span class="item">
                        <span class="blind">저자</span> 
                        문동균 | 에스티유니타스
                      </span>
                    </div>
                  </div>
                </li>

                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/53625" class="link">
                      <div class="thumb">
                        <span>4</span>
                        <img src="//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0913/0100023068671-00.jpg" alt="우리는 모두 드레이크의 시대에 살고 있다">
                      </div>
                    </a>
                  </div>
                  <div class="info">
                    <a href="/magazines/53625" class="title">
                      2022 문동균 한국사 기출은 문동균
                    </a>
                    <div class="sub">
                      <span class="item">
                        <span class="blind">저자</span> 
                        문동균 | 에스티유니타스
                      </span>
                    </div>
                  </div>
                </li>

                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/53625" class="link">
                      <div class="thumb">
                        <span>5</span>
                        <img src="//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0913/0100023068671-00.jpg" alt="우리는 모두 드레이크의 시대에 살고 있다">
                      </div>
                    </a>
                  </div>
                  <div class="info">
                    <a href="/magazines/53625" class="title">
                      2022 문동균 한국사 기출은 문동균
                    </a>
                    <div class="sub">
                      <span class="item">
                        <span class="blind">저자</span> 
                        문동균 | 에스티유니타스
                      </span>
                    </div>
                  </div>
                </li>

                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/53625" class="link">
                      <div class="thumb">
                        <span>6</span>
                        <img src="//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0913/0100023068671-00.jpg" alt="우리는 모두 드레이크의 시대에 살고 있다">
                      </div>
                    </a>
                  </div>
                  <div class="info">
                    <a href="/magazines/53625" class="title">
                      2022 문동균 한국사 기출은 문동균
                    </a>
                    <div class="sub">
                      <span class="item">
                        <span class="blind">저자</span> 
                        문동균 | 에스티유니타스
                      </span>
                    </div>
                  </div>
                </li>

                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/53625" class="link">
                      <div class="thumb">
                        <span>7</span>
                        <img src="//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0913/0100023068671-00.jpg" alt="우리는 모두 드레이크의 시대에 살고 있다">
                      </div>
                    </a>
                  </div>
                  <div class="info">
                    <a href="/magazines/53625" class="title">
                      2022 문동균 한국사 기출은 문동균
                    </a>
                    <div class="sub">
                      <span class="item">
                        <span class="blind">저자</span> 
                        문동균 | 에스티유니타스
                      </span>
                    </div>
                  </div>
                </li>

                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/53625" class="link">
                      <div class="thumb">
                        <span>8</span>
                        <img src="//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0913/0100023068671-00.jpg" alt="우리는 모두 드레이크의 시대에 살고 있다">
                      </div>
                    </a>
                  </div>
                  <div class="info">
                    <a href="/magazines/53625" class="title">
                      2022 문동균 한국사 기출은 문동균
                    </a>
                    <div class="sub">
                      <span class="item">
                        <span class="blind">저자</span> 
                        문동균 | 에스티유니타스
                      </span>
                    </div>
                  </div>
                </li>

                <li class="list_item">
                  <div class="thumb_area">
                    <a href="/magazines/53625" class="link">
                      <div class="thumb">
                        <span>9</span>
                        <img src="//s3.ap-northeast-2.amazonaws.com/libro.image/Libro_V6/product/2021/0913/0100023068671-00.jpg" alt="우리는 모두 드레이크의 시대에 살고 있다">
                      </div>
                    </a>
                  </div>
                  <div class="info">
                    <a href="/magazines/53625" class="title">
                      2022 문동균 한국사 기출은 문동균
                    </a>
                    <div class="sub">
                      <span class="item">
                        <span class="blind">저자</span> 
                        문동균 | 에스티유니타스
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="btn_more_list">
                <a href="#" role="button" class="link">
                  <span class="text">인기 더 보기</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <div th:replace="fragment/footer :: copy"></div>
    </div>
  </div>
  <script>
    window.addEventListener('load', function() {
      var allElements = document.getElementsByTagName('*');
      Array.prototype.forEach.call(allElements, function(el) {
        var includePath = el.dataset.includePath;
        if (includePath) {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              el.outerHTML = this.responseText;
            }
          };
          xhttp.open('GET', includePath, true);
          xhttp.send();
        }
      });
    });
  </script>
</body>
</html>